<%- include("./partials/header") %>
<body class="bg-blue-7000">
    <!-- <img src="images/wesson-wang-y0_vFxOHayg-unsplash.jpg" alt="Head-text Image"> -->
    <h2 class="bg-red-600">Testing ejs</h2>
</body>
<%- include("./partials/footer") %>