<%- include("./partials/header") %>
<body>
    <img src="images/wesson-wang-y0_vFxOHayg-unsplash.jpg" alt="Head-text Image " width="100%" height="200px">
    <h2>Testing ejs</h2>
</body>
<%- include("./partials/footer") %>